body{
	font-family:arial;

}

.search{
}

.sonnet{
	padding-bottom:15px;
	background-color:#ffffcc;
}


.title{

	font-style:italic;
	padding-bottom:5px;
	color: white;
	background-color:#666;
}

.lines{
}
