/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */




.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

 .btn-floating {
  box-shadow: none;
}

.btn-floating:hover {
  box-shadow: none;
  opacity:0.8;
}



.mdl-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}

.card .card-content .card-title {
  line-height: 36px;
  font-size:1.5em;
}