<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>georgesb.com / shakespeare</title>

  <!-- CSS  -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
		<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

 <!-- SCRIPTS  -->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.4.3/jquery.mark.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
	<!-- scrolltop  -->
	<link rel="stylesheet" href="css/easing.css">
    <link rel="stylesheet" href="css/jquery.scrolltop.css">
    <style>
        .custom-scrolltop {
            font-size: 1.5em;
            line-height: 40px;
            border-radius: 50%;
			z-index: 2147483647;
        }

    </style>
	</head>
	<body ng-app="myApp" ng-controller="myController">
		<main>

			<div class="navbar-fixed">
				<nav class="indigo darken-3" role="navigation">
					<div class="nav-wrapper container navbar-fixed">
							<form>
								<div class="input-field">
									<input id="search" type="search" name="keyword" required  ng-model="searchText" placeholder="Search">
									<label for="search"><i class="material-icons">search</i></label>
									<i class="material-icons" ng-click="searchText = ''">close</i>
								</div>
							</form>
					</div>
				</nav>
			</div>
<div class="context">
  <div class="row">
    <div class="col s9 m9 l10">
		<div ng-repeat="item in items" class="title">
			<h4>{{item.TITLE}}</h4>
			<div ng-repeat="item in item.ACT" class="section scrollspy text" id="{{item.TITLE}}">
				<h5>{{item.TITLE}}</h5>
				<div ng-repeat="item in item.SCENE">
					{{item.TITLE}}<br><br>
					<div ng-repeat="item in item.SPEECH | filter:searchText">
						{{item.SPEAKER}}<br><br>
						<div ng-repeat="item in item.LINE">
							{{item}}<br>
						</div>
						<br>
					</div>
				</div>
			</div>
		</div>
</div>

    <div class="col s3 m3 l2">
      <ul class="section table-of-contents" style="position:fixed">
        <li><a href="#ACT I">Act I</a></li>
        <li><a href="#ACT II">Act II</a></li>
        <li><a href="#ACT III">Act III</a></li>
        <li><a href="#ACT IV">Act IV</a></li>
        <li><a href="#ACT V">Act V</a></li>
      </ul>
    </div>
  </div>

</div>
</main>
<!--  Scripts-->
		<script src="js/materialize.js"></script>
		<script src="js/init.js"></script>    <script src="js/jquery.scrolltop.js"></script>


<!-- init scrolltop -->
    <script>
        (function($){

            $.scrolltop({
                template: '<i class="fa fa-chevron-up"></i>',
                class: 'custom-scrolltop'
            });

        })(jQuery);
</script>
<script>
 $(document).ready(function(){
    $('.scrollspy').scrollSpy();
  });
       
    </script>

		<script>
			$(function() {
				var $input = $("input[name='keyword']"),
					$context = $("div.context");
				$input.on("input", function() {
					var term = $(this).val();
					if(term.length > 1){
					$context.show().unmark();
					if (term) {
						$context.mark(term, {
							"separateWordSearch": false,
    						"diacritics": false
							});
						}
					 }
				});
			});
		</script>
<script>
window.addEventListener("hashchange", function () {
    window.scrollTo(window.scrollX, window.scrollY - 50);
});
</script>
	</body>
</html>
