<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>georgesb.com / shakespeare</title>

  <!-- CSS  -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
		<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

 <!-- SCRIPTS  -->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.4.3/jquery.mark.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>

	<!-- scrolltop  -->
		<link rel="stylesheet" href="css/easing.css">
		<link rel="stylesheet" href="css/jquery.scrolltop.css">
		<link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
		<style>
			.custom-scrolltop {
			font-size: 1.5em;
			line-height: 40px;
			border-radius: 50%;
			z-index: 2147483647;
			}
		</style>
	</head>
	<body ng-app="myApp" ng-controller="myController">
		<main>
			<div class="no-print navbar-fixed">
				<nav class="indigo darken-2" role="navigation">
					<div class="nav-wrapper container navbar-fixed">
						<div class="row">
							<div class="no-print col s8 m8 l9">
								<a href="#" class="brand-logo" ng-show="toggle">Shakespeare</a>
								<form>
									<div class="input-field"  ng-show="play">
										<input id="search" type="search" name="keyword" required  ng-model="searchText" placeholder="Search" style=" display: inline-block;min-height:40px">
										<label for="search"><i class="material-icons">search</i></label>
										<i class="material-icons" id="target" ng-click="searchText = ''";>close</i>
									</div>
								</form>
							</div>
							<div class="col m4 l3 hide-on-small-only">
								<ul class="right">
									<li class="active"><a href="index.html">Plays</a></li>
									<li><a href="http://georgesb.com/sonnets">Sonnets</a></li>
								</ul>
							</div>
							<div class="col s4 hide-on-med-and-up">
								<ul class="right">
									<li class="active"><a href="http://georgesb.com/shakespeare"><i class="small material-icons">radio_button_checked</i></a></li>
									<li><a href="http://georgesb.com/sonnets"><i class="small material-icons">radio_button_unchecked</i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
			</div>
			<div class="row container center">
				<br>
				<div class="col s12" ng-show="toggle">
					<div class="collection with-header" style="font-family:times;font-size:1.2em">
						<a href="#!" class="collection-item active teal darken-3"><img src="william-shakespeare.jpg" height="120px" class="z-depth-3"></a>
						<a href="#!" class="collection-item black-text"  ng-click="ng-init('asyou.json');hide()">As You Like It</a>
						<a href="#!" class="collection-item black-text"  ng-click="ng-init('hamlet.json');hide()">Hamlet</a>
						<a href="#!" class="collection-item black-text" ng-click="ng-init('julius.json');hide()">Julius Caesar</a>
						<a href="#!" class="collection-item black-text" ng-click="ng-init('lear.json');hide()">King Lear</a>
						<a href="#!" class="collection-item black-text" ng-click="ng-init('macbeth.json');hide()">MacBeth</a>
						<a href="#!" class="collection-item black-text" ng-click="ng-init('measure.json');hide()">Measure for Measure</a>
						<a href="#!" class="collection-item black-text"  ng-click="ng-init('merchant.json');hide()">The Merchant of Venice</a>
						<a href="#!" class="collection-item black-text" ng-click="ng-init('summerdream.json');hide()">A Midsummer Night's Dream</a>
						<a href="#!" class="collection-item black-text" ng-click="ng-init('othello.json');hide()">Othello</a>
						<a href="#!" class="collection-item black-text"  ng-click="ng-init('richard3.json');hide()">Richard III</a>
						<a href="#!" class="collection-item black-text"  ng-click="ng-init('romeo.json');hide()">Romeo and Juliet</a>
						<a href="#!" class="collection-item black-text" ng-click="ng-init('shrew.json');hide()">The Taming of the Shrew</a>
						<a href="#!" class="collection-item black-text" ng-click="ng-init('tempest.json');hide()">The Tempest</a>
						<a href="#!" class="collection-item black-text"  ng-click="ng-init('twelfth.json');hide()">Twelfth Night</a>
						<a href="#!" class="collection-item black-text"  ng-click="ng-init('winter.json');hide()">A Winter's Tale</a>
					</div>
				</div>
			</div>
			<div class="container context">
				<div class="row">
					<div class="no-print col s9 m9 l10">
  <!-- Dropdown Trigger -->
						<br>
							<a class='dropdown-button btn teal darken-2 hide-on-small-only' href='#' data-activates='dropdown1'  ng-show="play" >Menu</a>
						<a class=' btn teal darken-2 hide-on-med-and-up' href='http://georgesb.com/shakespeare' data-activates='dropdown1'  ng-show="play" >Menu</a>

  <!-- Dropdown Structure -->
						<ul id='dropdown1' class='dropdown-content hide-on-small-only' >
							<li><a href="#"   style="color:#00796b"ng-click="show()">Home</a></li>
							<li class="divider"></li>
							<li><a href="#"  style="color:#00796b" ng-click="ng-init('asyou.json');hide()">As You Like It</a></li>
							<li ><a href="#"  style="color:#00796b" ng-click="ng-init('hamlet.json');hide()">Hamlet</a></li>
							<li><a href="#"   style="color:#00796b" ng-click="ng-init('julius.json');hide()">Julius Caesar</a></li>
							<li><a href="#"  style="color:#00796b" ng-click="ng-init('lear.json');hide()">King Lear</a></li>
							<li><a href="#"  style="color:#00796b" ng-click="ng-init('macbeth.json');hide()">MacBeth</a></li>
							<li><a href="#"  style="color:#00796b" ng-click="ng-init('measure.json');hide()">Measure for Measure</a></li>
							<li><a href="#" style="color:#00796b"  ng-click="ng-init('merchant.json');hide()">The Merchant of Venice</a></li>
							<li><a href="#" style="color:#00796b"  ng-click="ng-init('summerdream.json');hide()">A Midsummer Night's Dream</a>
							<li><a href="#" style="color:#00796b"  ng-click="ng-init('othello.json');hide()">Othello</a></li>
							<li><a href="#"  style="color:#00796b" ng-click="ng-init('richard3.json');hide()">Richard III</a></li>
							<li><a href="#"  style="color:#00796b" ng-click="ng-init('romeo.json');hide()">Romeo and Juliet</a></li>
							<li><a href="#"  style="color:#00796b" ng-click="ng-init('shrew.json');hide()">The Taming of the Shrew</a></li>
							<li><a href="#"  style="color:#00796b" ng-click="ng-init('tempest.json');hide()">The Tempest</a></li>
							<li><a href="#"  style="color:#00796b" ng-click="ng-init('twelfth.json');hide()">Twelfth Night</a></li>
							<li><a href="#" style="color:#00796b"  ng-click="ng-init('winter.json');hide()">A Winter's Tale</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col s9 m9 l10">
						<div ng-repeat="item in items" ng-show="play">
							<h4>{{item.TITLE}}</h4>
							<div ng-repeat="item in item.ACT   | filter:searchText" class="section scrollspy text" id="{{item.TITLE}}">
								<h5>{{item.TITLE}}</h5>
								<div ng-repeat="item in item.SCENE  | filter:searchText">
									{{item.TITLE}}<br><br>

									<div ng-repeat="item in item.STAGEDIR | filter:searchText">
										{{item}}<br>
									</div><br><br>

									<div ng-repeat="item in item.SPEECH | filter:searchText">
										<span style="color:#990000; font-style:bold">{{item.SPEAKER | remove | uppercase }}</span><br><br>
										<div ng-repeat="item in item.LINE">
											{{item}}<br>
										</div>
										<br>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="no-print col s3 m3 l2"  ng-show="play">
						<ul class="section table-of-contents" style="position:fixed">
							<li><a href="#">Intro</a></li>
							<li><a href="#ACT I">Act I</a></li>
							<li><a href="#ACT II">Act II</a></li>
							<li><a href="#ACT III">Act III</a></li>
							<li><a href="#ACT IV">Act IV</a></li>
							<li><a href="#ACT V">Act V</a></li>
						</ul>
					</div>
				</div>
			</div>
		</main>
		<footer class="no-print page-footer  indigo">
			<div class="container">
				<div class="row">
					<div class="no-print col l6 s12">
						<a href="http://georgesb.com"><h5 class="orange-text text-lighten-2">georgesb.com</h5></a>
					</div>
					<div class="no-print col l12 m 12 s12">
						<a class="white-text" href="http://georgesb.com"><i class="small material-icons">launch</i></a>
						<a class="white-text" href="https://www.linkedin.com/in/george-benainous"><i class="small material-icons">info_outline</i></a>
					</div>
				</div>
			</div>
			<div class="footer-copyright" >
				<div class="container">
					Thanks to <a class="orange-text text-lighten-2" href="http://materializecss.com">Materialize</a>
					and <a class="orange-text text-lighten-2" href="https://www.ibiblio.org/xml/examples/shakespeare/">iBiblio.org</a>
				</div>
			</div>
		</footer>
<!--  Scripts-->
		<script src="js/materialize.js"></script>
		<script src="js/init.js"></script>
		<script src="js/jquery.scrolltop.js"></script>


<!-- init scrolltop -->
		<script>
			(function($){
			$.scrolltop({
			template: '<i class="fa fa-chevron-up"></i>',
			class: 'custom-scrolltop'
			});
			})(jQuery);
		</script>
		<script>
			$(document).ready(function(){
			$('.scrollspy').scrollSpy();
			$('.dropdown-button').dropdown({
			inDuration: 300,
			outDuration: 225,
			constrain_width: false, // Does not change width of dropdown to that of the activator
			hover: false, // Activate on hover
			gutter: 0, // Spacing from edge
			belowOrigin: false, // Displays dropdown below the button
			alignment: 'left' // Displays dropdown with edge aligned to the left of button
			}
			);
			});
			$( "#target" ).click(function() {
			$context = $("div.context");
			$context.show().unmark();
			});
		</script>
		<script>
			$(function() {
			var $input = $("input[name='keyword']"),
			$context = $("div.context");
			$input.on("input", function() {
			var term = $(this).val();
			if(term.length > 1){
			$context.show().unmark();
			if (term) {
			$context.mark(term, {
			"separateWordSearch": false,
			"diacritics": false
			});
			}
			}
			});
			});
		</script>
		<script>
			window.addEventListener("hashchange", function () {
			window.scrollTo(window.scrollX, window.scrollY - 50);
			});
		</script>
	</body>
</html>
