body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

.title{

	font-style:italic;
	padding-bottom:5px;
}

.text{
	font-family:times;
	background-color:white;

	font-style:italic;
	color: black;
	font-size:1.1em;
}

.context{
	padding-left:30px;

}
mark{
	background-color:#ccff66;
    border-radius: 12px;
	padding:1px;
	padding-left:5px;
	padding-right:5px;
	border: 1px solid pink;
	color:black;
}


main {
    flex: 1 0 auto;
  }